.home-wrapper {
	/* display: flex; */
}
.home__left {
	min-height: 100vh;
	width: 100vw;
	background-color: lightcoral;
}
.home-section-title {
	font-size: 1.5rem;
}

.home__right {
	min-height: 100vh;
	width: 100vw;
	background-color: var(--themeColor);
	display: flex;
}
.login-wrapper {
	display: block;
	padding: var(--spacerLarger) var(--spacerLarge);
	background-color: #34495e;
	color: var(--themeColor);
}
.login-title {
	margin-bottom: var(--spacerLarge);
	font-size: 1.5rem;
}
.form-input {
	padding: var(--spacerLarge) var(--spacer);
}
.form-btn {
	margin-top: var(--spacerLarger);
}

@media screen and (min-width: 768px) {
	.home-wrapper {
		display: flex;
	}
	.home__left {
		max-width: 70%;
	}
	.home__right {
		max-width: 30%;
	}
	.home-right-wrapper {
		margin: 50% auto;
	}
}