.home-wrapper {
  /* display: flex; */
}
.home__left {
  min-height: 100vh;
  width: 100vw;
  background-color: pink;
  display: flex;
  flex-direction: column;
}
.home-section-title {
  font-size: 1.5rem;
}

.home__right {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--themeColor);
}
.login-wrapper {
  display: block;
  padding: var(--spacerLarger) var(--spacerLarge);
  background-color: #34495e;
  color: var(--themeColor);
}
.login-title {
  margin-bottom: var(--spacerLarge);
  font-size: 1.5rem;
}
.form-input {
  padding: var(--spacerLarge) var(--spacer);
}
.form-btn {
  margin-top: var(--spacerLarger);
}
.home-section home-news {
  flex: 1;
}
.home-section home-announcemt {
  flex: 1;
}
.news-box {
  min-height: fit-content;
  border: solid black;
  gap: var(--spacer);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.media-element {
  padding: var(--spacer);
  gap: var(--spacer);
  grid-template-rows: min-content;
  padding: var(--spacer);
  background: lightpink;
  border-radius: 20%;
}
.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.snaps {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer, 1rem);
}
.snaps > * {
  scroll-snap-align: start;
}
.vacancybox {
  display: flex;
  background-color: pink;
  flex-direction: column;
  position: relative;
  width: 25%;
}
.vacancybox > div {
  background-color: #34495e;
  margin: var(--spacer);
  padding: var(--spacer);
  font-size: 20px;
}
.onevacancy p {
  color: white;
}
.onevacancy .hovertext {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.onevacancy:hover .hovertext {
  opacity: 1;
}
.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: none;
}

@media screen and (min-width: 768px) {
  .home-wrapper {
    display: flex;
  }
  .home__left {
    max-width: 70%;
  }
  .home__right {
    max-width: 30%;
  }
  .home-right-wrapper {
    margin: 50% auto;
  }
  .vacancybox {
    flex-direction: row;
  }
}

.news-box{
  padding: var(--spacer);
}

li{
	padding: var(--spacer);
	background-color: rgba(0,0,0,0.5);
	transition: transform .5s;
	width: 300px;
	height: fit-content;
  color: white;
  border-radius: 8px;
  }
  li:not(:last-of-type){
    margin-right: var(--spacer);
  }
  
  li:hover{
	  transform: scale(1.1);
	  height: fit-content;
  
  }

  img{
	height: 150px;

  }
#newsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}