.home-wrapper {
  /* display: flex; */
}
.home__left {
  min-height: 100vh;
  width: 100vw;
  background-color: pink;
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
}
.home-section-title {
  font-size: 1.5rem;
  padding-left: 5px;
}

.home__right {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--themeColor);
}
.login-wrapper {
  display: block;
  padding: var(--spacerLarger) var(--spacerLarge);
  background-color: #34495e;
  color: var(--themeColor);
}
.login-title {
  margin-bottom: var(--spacerLarge);
  font-size: 1.5rem;
}
.form-input {
  padding: var(--spacerLarge) var(--spacer);
}
.form-btn {
  margin-top: var(--spacerLarger);
}
.home-section home-news {
  flex: 1;
}
.home-section home-announcemt {
  flex: 1;
}
.home-news-wrapper {
  padding: 1rem;
}
.news-list {
  --gap: 1rem;

  padding: var(--spacerLarger) 0;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);
  overflow-x: auto;
}
.news-item {
  --w-item: 270px;

  min-width: var(--w-item);
  width: var(--w-item);
  background-color: var(--white);
  border-radius: calc(2 * var(--borderRadius));
  overflow: hidden;
}
.news-img-wrapper {
  --img-height: 200px;

  max-height: var(--img-height);
  overflow: hidden;
}
.news-img {
  width: 100%;
  height: var(--img-height);
  object-fit: cover;
  object-position: top center;
  transition: transform 0.3s ease-in-out;
}
.news-detail {
  padding: var(--spacerLarger);
 
}
.news-detail__title {
  font-size: 1.3rem;
  color: var(--blue34);
}
.news-detail__posted-by,
.news-detail__uploaded-at {
  display: block;
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--grayC4);
}
.news-detail__desc {
  margin-top: var(--spacerLarge);
  margin-bottom: var(--spacerLarge);
  display: -webkit-box;
  max-width: calc(var(--w-item) - var(--spacerLarger));
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  line-height: 1.2;
}
.news-item:hover {
  cursor: pointer;
}
.news-item:hover .news-img {
  transform: scale(1.1);
}
.home-vacancy-wrapper{
  overflow-y: scroll;
}
.vacancy-container {
  display: flex;
  background-color: pink;
  flex-direction: row;
  position: relative;
  width: 150px;
  
}

.single-vacancy {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  margin: var(--spacer);
  padding: var(--spacer);
  font-size: 20px;
  flex-direction: column;
  gap: 20px;
  ;
}
.single-vacancy p {
  color: white;
}
.single-vacancy .hovertext {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.single-vacancy :hover .hovertext {
  opacity: 1;
}
.vacancy-title {
  display: flex;
  flex-direction: row;
  font-size: 30pxpx;
}

.vacancy-image {
  flex: 1;
}
.vacancy-header p {
  flex: 5;
}
.requirement {
  font-size: 16px;
}
.requirement a {
  color: blue;
}
.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: none;
}

.news-box {
  padding: var(--spacer);
}

li {
  padding: var(--spacer);
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
  width: 300px;
  height: fit-content;
  color: white;
  border-radius: 8px;
}
li:not(:last-of-type) {
  margin-right: var(--spacer);
}

li:hover {
  transform: scale(1.1);
  height: fit-content;
}

img {
  height: 150px;
}
#newsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .home-wrapper {
    display: flex;
  }
  .home__left {
    max-width: 70%;
  }
  .home__right {
    max-width: 30%;
  }
  .home-right-wrapper {
    margin: 50% auto;
  }
  .vacancy-container {
    flex-direction: row;
  }
  .news-box {
    flex-direction: row;
    flex-shrink: none;
  }
}
@media screen and (max-width: 767px) {
  .home-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .home__left {
    max-width: 100%;
    height: fit-content;
  }
  .home__right {
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-right-wrapper {
    margin: 0;
  }
  .vacancy-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
  }
  .news-box {
    flex-direction: row;
    flex-shrink: none;
  }
}
