
.lists {
	display: flex;
	justify-content: center;
	max-width: 200px;
    
}
#teacher_list{
    flex:1;
    text-align: center;
    border-style: solid;
    border-color: black;
}
#student_list{
    flex: 1;
    text-align: center;
    border-style: solid;
    border-color: black;
}
.class-filter{
    background-color:white;
    width: 20px;
    height: 20px;
    display: flex;
	padding:10px

    }
.classes{
    display: block;
	padding: 14px 16px;
	color: #f2f2f2;
	text-decoration: none;
	background-color: #333;
}


    
