.announcement {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.announcementbox {
  min-height: fit-content;
  border: solid black;
  display: flex;
  flex-direction: row;
}
.round_image {
  float: left;
  height: 200px;
  width: 100px;
  padding: 200px;
  flex: 1;
}
.info {
  padding: 10px;
  flex: 2;
}
