/* VARIABLES */
:root {
	--themeColor: #d3d3d3;
	--blue34: #34495e;
	--white: #ffffff;
	--grayC4: #747373;
	--blue: rgb(239, 245, 245);
  
	--textNormal: 14px;
  
	--spacerSmall: 4px;
	--spacer: 8px;
	--spacerLarge: 12px;
	--spacerLarger: 16px;
  
	--borderRadius: 4px;
  
	font-size: var(--textNormal);
  }
  
  * {
	margin: 0;
	padding: 0;
  }
  body,
  html {
	overflow-x: hidden;
  }
  .form-label,
  .form-label > * {
	display: block;
  }
  .form-label:not(:first-child) {
	margin-top: var(--spacer);
  }
  .form-label > span {
	font-size: 1.1rem;
  }
  .form-input {
	margin-top: var(--spacerSmall);
	padding: var(--spacer);
	width: calc(100% - var(--spacer) - var(--spacerLarge));
	border-radius: var(--borderRadius);
	border: 1px solid transparent;
  }
  .form-input:focus {
	outline-color: rgba(0, 0, 0, 0.2);
  }
  .btn {
	padding: var(--spacer) var(--spacerLarger);
	width: 100%;
	border-radius: var(--borderRadius);
	box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border-color: white;
	color: currentColor;
	font-size: 1.1rem;
	background-color: transparent;
  }
  .btn:not(:disabled):hover {
	background-color: rgba(0, 0, 0, 0.5);
  }
  .btn:disabled {
	cursor: not-allowed;
  }
  
  @media screen and (min-width: 768px) {
	:root {
	  --textNormal: 16px;
	}
  }
  