footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color:black;
    margin-top: auto 0;
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

  }
 