.announcement {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .announcementbox {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
  }
  
  h3{
  
  }
  .round_image {
    float: left;
    height: 200px;
    width: 100px;
    padding: 200px;
    flex: 1;
  }
  
  .info {
    padding: 10px;
    flex: 2;
  }
  
  .container{
    background-color: var(--blue);
    padding: var(--spacerLarge) var(--spacerLarger);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0;
    width: 80%;
    border: none;
    border-radius: var(--borderRadius);
    flex: 1;
    margin: auto;
    padding-bottom: 110px;
  }
  .left-container{
    background-color: var(--blue);
    padding: var(--spacerLarge) var(--spacerLarger);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 0;
    width: 80%;
    border: none;
    border-radius: var(--borderRadius);
    flex: 1;
    margin: auto;
  }
  
  .dropdown-btn{
    display: flex;
    margin: auto;
  }
  
  .dropdown p{
    margin: auto;
    padding-right: 20px;
  }
  
  .divider{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    margin: 5px;
  }
  
  .leftbox{
    width: 20%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
  .card {
    width: 90%;
    flex: 1;
    height: 40%;
    padding: var(--spacerLarger) 0px;
  }
  .container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  img {
    height: inherit;
    width: inherit;
  }
  .rightbox {
    width: 80%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px;
  }
  
  
  
  .vertical {
    border-left: 1px solid black;
    height: auto;
  }
  
  .rightbox ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
    gap: 60px;
  }
  
  .leftbox ul{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
    gap: 20px;
  }
  
  .light-border{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  }
  
  .studentList li{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: auto;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 1);
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
  
  }
  
  .addannouncement{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1em;
    box-sizing: border-box;
  
  }
  
  #listparent li{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
    width: 200px;
    flex-direction: column;
    background: linear-gradient(121deg, rgba(212, 198, 198, 0) 13%, rgb(119, 186, 228) 100%);
  
  }
  
  .parentlist ul{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
    gap: 20px;
    overflow-x: scroll;
  }
  
  #liststudent li{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    margin-bottom: 20px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 30px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(121deg, rgba(212, 198, 198, 0) 13%, rgb(119, 186, 228) 100%);
  
  }
  
  .studentlist ul{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
    gap: 20px;
    overflow-x: scroll;
  }
  
  #listparent img{
    background-color: #eee;
    border-radius: 50%;
    height: 100px;
    margin-left: 20px;
    width:100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  } 
  
  .button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    margin-left: auto;
  }
  

  #listparent li button{
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
  
  #listparent li button:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,1),0 20px 50px 0 rgba(0,0,0,1);
    border: 3px solid blanchedalmond;
  }
  
  
  .text{
    display: flex;
    width: 70%;
    margin-right: 10px;
  }
  
  .text h3 {
    margin-left: 10px;
  }
  
  ul div p{
    align-self: flex-end;
    margin-left: 15px;
  
  }
  
  .leftbox button{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
  }
  .radiobutton{
    display: inline-block;
  }
  @media screen and (max-width: 950px ) {
    .announcementbox li{
      flex-direction: column;
    }
    .container{
      margin: auto;
    }
    ul li img{
      margin: 0;
    }
    .h2{
      font-size: 10px;
    }
    .left-container{
      width: 60%;
    }
  }
  @media screen and (max-width: 450px ) {
    .name, .role, .h2{
      font-size: 10px;
    }
    
  }
