.update-announcement-form-wrapper{
  width: 60%;
    margin: auto;
    align-items: center;
    box-shadow: 5px 5px 20px ;
    border-radius: calc(3 * var(--borderRadius));
    padding: var(--spacerLarger);
    margin-top: 200px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;

}


#text{
   width: calc(100% - 2 * var(--spacerLarger));
    border-radius: calc(2 * var(--borderRadius));
    margin-bottom: var(--spacerLarger);
  
    min-height: 250px;
    padding: var(--spacerLarger);
}

h1{
    text-align: center;
    
}
#submit{
    padding: var(--spacerLarger);
    border-radius: 10px;
    width: 100%;
    font-size: 1.05rem;
}
body{
    background-color: lightgray;
    height: 100vh;
}